/* Other elements */
body {
    max-width: 800px;
    color: #454545;
    margin: auto;
    background-color: powderblue; 
    align-content: center;
    align-items: center;              
}
#column {
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    background-color: bisque; /* can remove this column and copy this color into body. */
}
 
h1 { 
    text-align:center;
    font-size:56px;
}
  

#author_heading{
    position: relative;
    top: 10px;
}

th{    
    text-align: left;
    padding: 0 20px 0 0;
    text-decoration: underline;
}

table{
    
    padding-bottom: 20px;
}