/* Navigation bar */ 
#navbar {
    display: inline-block;
    width: 100%;
    background-color: #333;
}

#navOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar a {
    float: left;    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

#navbar a:hover {
    background-color: #555;
}

/* Show that current page has been selected. NOTE: CHANGE number depending on page.*/
#navOptions li:nth-child(3) {/*li:first-child {*/
    pointer-events: none;
    background-color: #555;
}
            
#navbar button {
    float: right;                
    padding: 14px 16px;
    font-size: large;                
    border: 0;
    background-color: #333;
    color: white;
}

/*  Merge to top */
.navbarclass .icon {
    display: none;
}

/* Other elements */
body {
    max-width: 800px;
    color: #454545;
    margin: auto;
    background-color: powderblue; 
    align-content: center;
    align-items: center;              
}
#column {
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    background-color: bisque; /* can remove this column and copy this color into body. */
}

.banner {
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
    height:178px; /* 218 - vertical padding*/
    background-image: url(../images/books.jpg);
  }

  

  h1{ 
    text-align:center;
    font-size:56px;
  }
  

#author_heading{
    position: relative;
    top: 10px;
}

th{    
    text-align: left;
    padding: 0 20px 0 0;
    text-decoration: underline;
}

table{
    
    padding-bottom: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 25px;
    background-color: #454545;
    color: white;
    text-align: center;
}

/* Mobile displays */
#navOptions li:nth-child(3) a {background-color: #555;}

@media screen and (max-width: 800px) {
    #navOptions li:not(:nth-child(3)) {display: none;}
    .navbarclass .icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbarclass.responsive {position: relative;}
  .navbarclass.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbarclass.responsive #navOptions li {
    padding: 0;
    margin: 0;    
    display: flex;
    text-align: left;
    flex-direction: column;
  }  

  .navbarclass.responsive #navOptions li  a{
      text-align:left;
  }
}