/* Common elements */
body {
    max-width: 800px;
    color: #454545;
    margin: auto;
    background-color: powderblue; 
    align-content: center;
    align-items: center;              
}
#column {
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    background-color: bisque;
}

h1 {
    text-align: center;
    font-size: 56px;
}

#post {
    margin: 5% 5% 0 5%;
    width:auto;
    padding: 8px 32px;
    border: #333;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: #EEEEEE;
    line-height : 1.4; 
    font-size : large;
}

/* The title of a post */
#post > h2 {
    text-align: left;
}

/* The date within a post*/
#post > #date { 
    color: grey;
}