/* Common elements */
body{
    max-width:800px;
    background-color:powderblue;
    color: #454545;
    margin:auto;
    align-content:center;
    align-items: center;
    text-align:center;   
}
#column {
    width: 100%;
    margin: 0;
    background-color: bisque;
}

/* CREATE TEXT POST HEADING */
h1{   
    text-align:center;
    background-color:powderblue;
    font-size: 56px;
}


.form-title{
    margin-top: 20px;
    padding:20px;
    height:100px;
    /*width:40;*/
    color:#454545;
    height:50px;
    font-size:24px;
    text-align:center;
    border-style:solid;
    border-color:#333;
    border-radius:10px;
    border-width:1px;
    background-color:#EEEEEE;  
}

textarea {
    resize:vertical;
    width:auto;
    margin:0;
}
.blogDate{
    padding: 10px 0 10px 0;
    
}
/* BLOG CONTENT TEXT BOX */
.blogContent{    
    width:85%;
    font-size:18px;
    line-height : 1.4; 
    color: #454545;
    height:500px;
    border-style:none;
    border-radius:10px;
    border-width:1px;
    border-color:#333;
    border-style:solid;
    padding:10px;
    background-color:#EEEEEE;   
}
/* PUBLISH BUTTON */
.submitBtn{
    height:50px;
    /*width:40;*/
    font-size:20px;
    background-color:#EEEEEE; 
    border-radius:10px;
    border-width:1px;
    border-style:block;
    border-color:#333;
    margin: 20px 0 20px 0;
}
