body {
  max-width: 800px;
  color: #454545;
  margin: auto;
  background-color: powderblue; 
  align-content: center;
  align-items: center;     
  text-align:center;
}

h1{ 
  text-align:center;
  font-size:56px;
}

#loginTable{
  margin-left:auto;
  margin-right:auto;
}
#loginButton{
  margin-left:auto;
  margin-right:auto;
  align-items:center;
}
.column {

  width: 100%;
  margin: 0;   
  /* padding-bottom: 50px; */
  background-color: bisque;/* can remove this column and copy this color into body.*/
}

.container{
  margin-top:20px;
 margin-bottom:40px;
  display:inline-block;   
  height:80%;
  background-color:#EEEEEE;
  border-width:1px;
  border-radius:10px;
  border-color:#333;
  border-style:solid;
  margin-left:auto;
  margin-right:auto;
}

