
body{
    display:block;
    width:800px;
    background-color:#ADD8E6;
    color: #454545;
    margin:auto;
    align-content:center;
    align-items: center;
    text-align:center;

}
#column {
    padding-bottom: 100px;
}

/* NAV BAR STYLE*/
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0;
    /*width: 100%;*/
    width: 800px;
}

/* NAV BAR LINKS */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* NAV BAR INTERACTION */
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }



.form-title{
    margin-top: 20px;
    padding:20px;
    height:100px;
    width:40;
    color:#454545;
    height:50px;
    font-size:24px;
    text-align:center;
    border-style:solid;
    border-color:#333;
    border-radius:10px;
    border-width:1px;

    background-color:#EEEEEE;
  
}
/* CREATE TEXT POST HEADING */
h1{
  
  
    text-align:center;
    background-color:#ADD8E6;
}
/* CONTAINER STYLE*/
.container{
    margin-top:20px;
   margin-bottom:20px;
    display:inline-block;
    width:100%;
    height:80%;

    background-color:#EEEEEE;
    border-width:1px;
    border-radius:10px;
    border-color:#333;
    border-style:solid;
}
.blogDate{
    padding-top: 10px;
    background-color:#EEEEEE;
}
/* BLOG CONTENT TEXT BOX */
.blogContent{
    
    width:80%;
    font-size:18px;
    line-height : 1.4; 
    color: #454545;
    height:500px;
    border-style:none;
border-radius:10px;
border-color:#333;
padding:25px;
    background-color:#EEEEEE;
   
}
/* PUBLISH BUTTON */
.submitBtn{
    height:50px;
    width:40;
    font-size:20px;
    background-color:#EEEEEE;
 
    border-radius:10px;
    border-width:1px;
    border-style:block;
    border-color:#333;
}

