*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  body{
    width: 800px;
    color: #454545;
    margin: auto;
    background-color: powderblue; 
    align-content: center;
    align-items: center;         
  }

  h1 {
    text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0;
  /*width: 100%;*/
  width: 800px;
}

/* Navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Navigation bar interaction / colour change */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.form-container {
  text-align: left;
  position: absolute;
  top: 33%;
  left: 50%;
  display: grid;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  margin: auto;
  background-color: powderblue; 
  align-content: center;
  align-items: center;  
}

.form-container h1{
  position: absolute;
  top: 5%;
  left: 3%;
}

.register-section{
  text-align: center;
  padding: 3rem;
  width: 500px;
  background-color: #454545; 
  ;
}